<div class="flexslider">
  <ul class="slides">
{{#each sliders}}
   <li>
    <img {{bind-attr src=src}}>
    <div class="subTitle">
      <h2>{{name}}</h2>
      {{description}}
    </div>
  </li>
{{/each}}
   </ul>
 </div>