 <header>
      <h1>{{#link-to 'home'}}<span>&#8962;</span>{{/link-to}}iFood</h1>
 </header>
 <div id="search-bar">
  	{{input-search action="search" on="submit"}}
</div>
<div class="contence">
{{outlet}}
</div>
