{{#each model}}
<div class="userdetail">
 <span>
 <span><strong>{{userName}}</strong></span> <span style="margin-left: 2%;">{{date}}</span>
 </span>
 <br>
 {{star-rating starRating=rate maxStars=5}}
 <br>
 <span>{{content}}</span>
</div>
{{/each}}

